# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# test ignorerar både kataloger och filer men det vill vi inte utan jag vill bara ignorera den binärfil som jag skapar vid kompileringen
# http://stackoverflow.com/questions/16770282/how-to-gitignore-only-files/16770464#16770464
test
!test/
